*.pyc
3gbm_clean_fill_MP.control
3gbm_clean_fill_MP_res.pdb
3gbm_clean_fill_MP_conects.pdb
3gbm_clean_fill_MP_renum.pdb
3gbm_clean_fill_MP_table.txt
3GBM_sub_num.pdb
3GBM_sub_num_2.pdb
3GBM_monomer_replaced.pdb
prod_3_relabelled.pdb
FINAL_DECOMP_GB_TOTALS_20_10_merged.csv
trend.pdf
bounds.txt
dist.pdf
FINAL_DECOMP_MMPBSA_pw_table_20_10_av.csv
hbonds_consol.csv
CR6261_WT_interactions.pdf
CR6261_WT_interactions.csv
CR6261_F54A_changed_interactions.pdf
CR6261_F54A_changed_interactions.csv
sub.*
*.ali
completed.pdb
restored.pdb
